/* 改变主题色变量 */
$--color-primary: #d64b4b;
$--color-danger: #CC3333;
$--color-danger:#FF9933;
$--color-success:#66CC99;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
